body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #949494;
    -webkit-font-smoothing: antialiased;
    
    
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/* Container */

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}


/* Header */
.header {
    padding: 40px;
    height: 100px;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.header__logo {
    margin-right: 51px;
    margin-top: -12px;
    
}

/* Line */

hr {
    border: 1px solid #503945;
    top: 50px;
    opacity: .3;
}


/* Nav */

.nav {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}

.nav__link {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;

    opacity: .65;
    transition: opacity .1s linear;

    margin-left: 30px;
}


.nav__link:hover {
    opacity: 1;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:last-child {
    margin-right: 70px;
}


.header__line {
    margin-top: 100px;
    width: 100%;
    border: 1px solid #fff;
}

/* Intro */

.intro {
    height: 583px;
    margin-top: -116px;
    padding-top: 105px;
    background: #31344e url("img/intro-bg.jpg") center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    line-height: 1;
    margin: 0 0 30px;
}

.intro__subtitle {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.intro__link {
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    line-height: .6;
}


/* Btn */
.btn {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;

  
}

.btn--login {
    padding: 14px 33px;
    border: 1px solid #e84c3d;
}

.btn--login:hover {
    background-color: #483b43;
    transition: background-color .2s linear;
}

.btn--main {
    padding-top: 15px;
    background-color: #e84c3d;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 26px;
    width: 220px;
    height: 50px;

    transition: background-color .2s linear;
}

.btn--main:hover {
    background-color: #483b43;
    border: 1px solid #e84c3d; 
}

.btn--submit {
    width: 140px;
    height: 50px;

    position: relative;

    background-color: #e84c3d;
    border: none;
    margin-right: -137px;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;

    transition: background-color .2s linear;
}

.btn--submit:hover {
    background-color: #483b43;
    border: 2px solid #e84c3d; 

}

.btn--plan {
    width: 220px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #2c3039;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;

    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    
}


/* Main features */

.first__features {
    background-color: #2b2f37;
}

.main__features {
    display: flex;

}

.main__item {
    width: 33.33333%;
    text-align: center;
    
   
}

.main__item:hover {
    background-color: #272b33;
}



.feature__icon {
    display: block;
    height: 50px;

    margin: 0 auto;
    margin-bottom: 43px;
    margin-top: 60px;

    fill: #010102;
    
}

.main__item:hover .feature__icon {
    fill:#e84c3d;

    transition: fill .2s linear;
    filter: drop-shadow(0 0 10px red);
}

.main__title {
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
}


.main__text {
    margin-bottom: 30px;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #70798d;
}

.main__link {
    display: block;

    color: #e84c3d; 
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;

    margin-bottom: 60px;
}

.main__link:hover {
    text-decoration: underline;

}


/* Search Domain */

.search__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #333;

    padding-top: 42px;
    padding-bottom: 30px;
    text-align: center;
}

.search__subtitle {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;

    max-width: 620px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;

}

.form__container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.form__img {
    display: block;
    position: absolute;
    margin: 0 auto;
}


input[type=text]{
  
    position: relative;
    margin-top: 10px;
    margin-left: -135px;
    
    width:420px;
    height: 50px;

    font-size: 15px;
    font-weight: 600;

    color: #000000;

    border: none;
    outline:none;
}

input[type=text]:focus {
    border: 2px solid #e84c3d; 
}

::-webkit-input-placeholder {
    padding-left: 10px;
}

.select__form {
    position: relative;

    margin-left: -4px;
    margin-top: 10px;
    margin-right: -3px;

    width: 60px;
    height: 50px;


    font-size: 15px;
    font-weight: 400;
    border: none;
    outline:none;
 
}

.select__form:focus {
    border: 2px solid #e84c3d; 
}

/* Preference */

.preference {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.preference__item {
    padding-top: 50px;
    width: 300px;
    padding-left: 95px;
    padding-bottom: 60px;
    padding-right: 10px;

    position: relative;
    cursor: pointer;
}

.preference__icon {
    position: absolute;
    top: 50px;
    left: 40px;
    z-index: 1000;
}

.preference__title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-align: left;

    margin-bottom: 10px;
}

.preference__text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #5e5e5e;
}

/* Features */

.features__header {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #fff;
    text-align: center;

    padding-top: 70px;
    padding-bottom: 50px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.features__item {
    width: 300px;
    padding-left: 95px;
    
    padding-bottom: 78px;
    position: relative;
    cursor: pointer;
}
.features__item:last-child {
    padding-bottom: 100px;
}

.features__item:hover .features__icon {
    fill: #ca473c;

    transition: fill .2s linear;
    filter: drop-shadow(0 0 10px red);
}
.base {
    background-color: #2b2f37;
}

.features__icon {
    position: absolute;
    top: 0px;
    left: 40px;
    z-index: 1000;

    height: 23px;
    width: 27px;
}


.features__title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding-bottom: 10px;
}

.features__text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5e666a;
}

/* Pick your plan */

.prices__title {
    margin-top: 80px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 40px;
    }
    
.prices__subtitle {
    margin-top: 25px;
    margin-bottom: 40px; 
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
    
.prices {
    padding-bottom: 18px;
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
        
    width: 780px;
    height: 421px;
        
    border: 1px solid #bebebe; 
}
    
    .prices__item:hover {
        width: 300px;
        color: #fff;
        background-color: #2c3039;
        transition: background-color .2s linear;
    }
    
    .prices__item:hover .btn--plan {
        background-color: #e84c3d;
        transition: background-color .2s linear;
    }
    
    .prices:hover{
        margin-left: 50px;
        width: 820px;
    }
    
    
.prices__item {
        width: 259px;
        height: 420px;
        border-right: 1px solid #bebebe;
        
    }
    
    .prices__item:last-child {
        border-right: none;
    }
    
.plan__title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color:#333;
    text-align: center;
    text-transform: uppercase;

    padding-top: 28px;
}
    
    .prices__item:hover .plan__title {
       color: #fff; 
    }
    
.plan__subtitle{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#333;
    text-align: center;
    padding-top: 10px;
}
    
    .prices__item:hover .plan__subtitle {
       color: #fff; 
    }
    
    .plan__subtitle:after {
        content: "";
        display: block;
        width: 220px;
        height: 1px;
        
        background-color: #cccccc;
        margin: 20px auto 35px;
    }
    
    /* PRICE START*/
    
.plan__price {
    text-align: center;    
}
    
.dollar {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333; 
    font-size: 25px;
    vertical-align: 17px; 
}
    .prices__item:hover .dollar {
       color: #fff; 
    }
    
.number {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333;
    font-size: 50px;
}
    
    .prices__item:hover .number {
       color: #fff; 
    }
    
.mount {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333;
    font-size: 12px;
}

    .prices__item:hover .mount {
       color: #fff; 
    }
    
    /* PRICE END */
    
.plan__desc {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 33px;
        
    text-align: center;
    line-height: 1.7;
}

    .prices__item:hover .desc__item {
        color: #fff;
    }
    
.desc__item {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #6d6d6d;
}
    
    .prices__item:hover .plan__header {
        background-color: #e84c3d;
    }
    
    .prices__item:hover .plan__subtitle:after {
        background-color: #e84c3d;
    }

.plan__text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 16px;
    text-align: center;

    padding-top: 50px;
    padding-bottom: 90px;
}

.red__text {
    color: #e74c3c;
    text-decoration: none;
}


/* TESTIMONIALS */

.testimon__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #000000;
    text-align: center;

    padding-bottom: 20px;
}

.testimon__subtitle {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: center;

    padding-bottom: 50px;
}

.testimon__icon {
    display: block;
    margin: 0 auto;

    padding-bottom: 40px;
}

.reviews {
    margin: 0 auto;
    text-align: center;

    width: 100%;
    max-width: 780px;
}

.reviews__text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;

    padding-bottom: 30px;
}

.reviews__icon {
    padding-bottom: 25px;
}

.reviews__author {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #aaaaaa;

    padding-bottom: 60px;
}


/* COMPANY BLOG */

.blog__title {
    margin-top: 80px;

    text-align: center;
    font-size: 40px;
    font-weight: 300;
}

