body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #949494;
    -webkit-font-smoothing: antialiased;
    
    
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/* Container */

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}


/* Header */
.header {
    padding: 40px;
    height: 100px;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.header__logo {
    margin-right: 51px;
    margin-top: -12px;
    
}

/* Line */

hr {
    border: 1px solid #503945;
    top: 50px;
    opacity: .3;
}


/* Nav */

.nav {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}

.nav__link {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;

    opacity: .65;
    transition: opacity .1s linear;

    margin-left: 30px;
}


.nav__link:hover {
    opacity: 1;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:last-child {
    margin-right: 70px;
}


.header__line {
    margin-top: 100px;
    width: 100%;
    border: 1px solid #fff;
}

/* Intro */

.intro {
    height: 583px;
    margin-top: -116px;
    padding-top: 105px;
    background: #31344e url("img/intro-bg.jpg") center no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    line-height: 1;
    margin: 0 0 30px;
}

.intro__subtitle {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.intro__link {
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    line-height: .6;
}


/* Btn */
.btn {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;

  
}

.btn--login {
    padding: 14px 33px;
    border: 1px solid #e84c3d;
}

.btn--login:hover {
    background-color: #483b43;
}

.btn--main {
    padding: 20px 66px;
    background-color: #e84c3d;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 26px;
}
